*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto',sans-serif;
  color: #747474;
  background-color: #fff;
  line-height: 1.6;
}

/*Hearder*/
.main-header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 30px;
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.main-nav a {
  text-decoration: none;
  color: #00b39b ;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
}
.main-nav a:hover {
  color: #333;
}

/*section 1 introduction */

.sec-intro {
  text-align: center;
  padding: 60px 20px;
  color: #00b39b;
}
.intro-icon img {
  width: 40px;
  margin-bottom: 20px;
}
.sec-intro h2 {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 48px;
}
.intro-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  color: #747474;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}
.intro-text p {
  width: 40%;
  min-width: 300px;
  text-align: center;
}
.intro-text a{
  color: #00b39b;
  text-decoration: none;
}
.intro-text a:hover {
  text-decoration: underline;
}

/*les trois cards deuxieme section */

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.card {
  flex: 1;
  border-radius: 10px;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-patient {
  background-color: #00ccb1;
}
.card-doctor {
  background-color: #3d83df;
}
.card-clinic {
  background-color: #1b2734;
}
/*partie style du texte card*/
.card h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0 10px;
}

.card p{
  font-size: 16px;
  line-height: 1.4;
}

.card a{
  margin-top: 30px;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.card a span {
  font-weight: normal;
  font-size: 14px;

}

/*partie brands logo*/

.brands {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  flex-wrap: wrap;
  gap: 40px;
}

.brands-text {
  width: 30%;
  min-width: 200px;
}

.brands-text h3 {
  color: #00b39b;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
}

.brands-logos {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.brands-logos div {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-logos img {
  max-width: 100%;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.brands-logos img:hover {
  opacity: 1;
}
